.panel-container {
    border : 1px solid #eeeeee;
    color : #424242;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin : 0;
    border-bottom : 1px solid #bdbdbd;
}

.panel-header:hover {
    background-color: #eeeeee;
}

.panel-content {
    font-size: 0.75rem;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
}

.panel-content.active {
    max-height: 80rem;
    display: block;
}


.icon {
    width: 24px;
    height: 24px;
}



